
/* 
*********** Home ***********
*/

body {
    background-color: black;
}

h5 {
    color: white;
  }
  
  #dynamic {
    position: fixed;
    bottom: 0;
    padding-bottom: 50px;
    padding-left: 20px;
  }
  
  #about { 
    padding-top: 50px;
    color: #fff;
  }
  
  .far {
    color: white;
  }
  
  .fab {
    color: white;
  }
  
  a { 
    color: #edb625;
   }
  
   a:hover { 
    color: #e6186d;
   }
  
   .fa-dot-circle { 
    color: #e6186d;
   }
  
   .cr {
    color: #49c4a1;
   }
  
  @media all and (max-width: 768px) {
    #dynamic { order:; display: none; } 
  }
  
  @media all and (min-width: 768px) {
    #dynamobile { order:; display: none; } 
  }
  

/* 
*********** Navbar Dark ***********
*/

/* How to style the toggler svg https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */
/* Set the border color */
          
.custom-toggler.navbar-toggler {
    border-color: white;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */
  
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* 
*********** Footer ***********
*/
.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: black);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

